<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login/Register</title>
</head>
<body>
    <h1>Login / Register</h1>
    
     Login Form 
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <label for="loginUsername">Username:</label>
        <input type="text" id="loginUsername" name="username" required>
        <br>
        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

     Registration Form 
    <h2>Register</h2>
    <form th:action="@{/register}" method="post">
        <label for="registerUsername">Username:</label>
        <input type="text" id="registerUsername" name="username" required>
        <br>
        <label for="registerPassword">Password:</label>
        <input type="password" id="registerPassword" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
-->